*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* :root {
  --primaryPurple: #646ff0;
  --black-1: #646681;
  --black-2: #585858;
  --bg-1: #f8f8ff;
  --bg-2: #ecedf6;
  --bg-3: #cccdde;
  --gray-1: #eee;
  --gray-2: #dedfe1;
  --black: black;
  --white: white;
} */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "PingFangSC-Regular", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-1);
}

* {
  font-family: "PingFangSC-Regular", sans-serif;
  /* 文本溢出容器宽度，允许自动换行 */
  word-wrap: break-word !important;
}

/* .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
} */

a {
  cursor: pointer;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
